footer {
  background-color: #111;
  color: #777;
  display: flex;
  flex-direction: column;
  
  > div:first-of-type {
    margin: 40px auto 0;
    padding-bottom: 30px;
    max-width: 1140px;
    border-bottom: 1px solid #222;
    display: flex;
    
    > p {
      padding: 0 15px;

      width: 25%;
      > a {
        text-decoration: none;
        color: #bbb
      }
    }
  }
  > div:nth-of-type(2) {
    padding: 15px 0;
    text-align: center;
    > a {
      margin-right: 15px;
      color: #fff;
      &:hover {
        color: #B12929
      }
    }
  }
}